@media (min-width:768px){
.mq__mo{display:none}
}
@media (min-width:0) and (max-width:766px){
.mq__tab{display:none}
}
@media (min-width:768px) and (max-width:1023px){
.mq__tab{display:block}
}
@media (min-width:1024px){
.mq__tab{display:none}
}
.mq__pc{display:none}
@media (min-width:1024px){
.mq__pc{display:block}
}
@media (min-width:1024px){
.mq__moTab{display:none}
}
.mq__tabPc{display:none}
@media (min-width:768px){
.mq__tabPc{display:block}
}
@media (min-width:768px) and (max-width:1023px){
.mq__moPc{display:none}
}
body{margin:0;padding:0;overflow-wrap:break-word;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,select,table,td,textarea,th,tr,ul{margin:0;padding:0}
img{max-width:100%;height:auto}
[class]{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;list-style:none;border:0;background-color:transparent;border-collapse:collapse;border-spacing:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
[class]::after,[class]::before{-webkit-box-sizing:border-box;box-sizing:border-box}
a{text-decoration:none}
input{border-radius:0}
button[class]{cursor:pointer}
button[class]:disabled{cursor:default}
[class*="--division"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
[class*="--flexBtw"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
[class*="--flexArnd"]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
[class*="--flexEven"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
[class*="--flexMid"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
[class*="--flexCnt"]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
[class*="--flex"]{display:-webkit-box;display:-ms-flexbox;display:flex}
[class*="--keepSize"]{-ms-flex-negative:0;flex-shrink:0}
[class*="--columnBox"]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
[class*="--alignLeft"]{text-align:left}
[class*="--alignRight"]{text-align:right}
[class*="--alignCenter"]{text-align:center}
[class*="--floatLeft"]{float:left}
[class*="--floatRight"]{float:right}
[class*="--ellipsis"]{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
[class*="--strong"]{font-weight:700}
[class*="--topSpace"]{margin-top:64px}
[class*="--topFix"]{margin-top:-33px}
[class*="--topLine"]{margin-top:24px;padding-top:24px;border-top:1px solid #eee}
.module-header{position:relative;z-index:10}
.module-header__top{height:56px;padding:0 15px 0 16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-header__logo{position:relative;width:166px;height:32px}
.module-header__logo>a{display:block;height:100%}
.module-header__logo-img{position:absolute;top:0;left:0;width:100%;height:100%}
.module-header__logo-link{position:relative;margin-left:6px}
.module-header__logo-link--active .ic_angle_down_circle_fill_s24{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.module-header__logo-link--active .module-linkPopup{display:block}
.module-header__logo-btn{vertical-align:top}
.module-header__logo-btn .ic_angle_down_circle_fill_s24{transition:transform .25s linear,-webkit-transform .25s linear}
.module-header__util{margin-left:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-header__btn{position:relative;width:32px;height:32px}
.module-header__under{position:relative;padding:0 20px 19px}
.module-header__under .module-header__util{display:none}
.module-header--scroll .module-header__top{display:none}
.module-header--scroll .module-header__under{position:fixed;top:0;width:100%;max-width:640px;height:56px;padding:0 15px;background-color:#333545;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-header--scroll .module-header__under .module-header__util{display:block}
.module-header--scroll .module-header__under .module-header__desc{display:none}
.module-header--scroll .module-header__under .module-header__heading{font-size:20px}
.module-header__heading{font-size:22px;font-weight:700;line-height:27px}
.module-header__desc{margin-top:7px;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.module-header__desc--default{color:#d3d3d3}
.module-footer{background:#f5f5f5}
.module-footer__inner{padding:40px 20px 94px}
.module-footer__links{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-footer__links>li{position:relative}
.module-footer__links>li+li{margin-left:15px;padding-left:15px}
.module-footer__links>li+li::before{content:"";position:absolute;top:4px;left:0;width:1px;height:12px;background-color:#e2e2e2}
.module-footer__links>li a{font-size:13px;font-weight:700;color:#666}
.module-footer__copyright{margin-top:22px;text-align:center}
.module-footer__copyright-txt{font-size:12px;color:#888}
.o2o-wrap{position:relative;min-width:280px;max-width:640px;margin:0 auto}
.o2o-wrap--flex-layout{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:100vh}
.o2o-wrap--flex-layout .container{-webkit-box-flex:1;-ms-flex:1;flex:1}
.o2o-wrap .module-header{background-color:#333545}
.o2o-wrap .module-footer__links{margin-bottom:25px}
.o2o-contents{padding:40px 20px;border-bottom:10px solid #f0f0f0}
.o2o-contents:last-of-type{padding:40px 20px 60px}
.contents-top+.contents-tab{margin-top:28px}
.swiper-banner-box{position:relative;padding:20px}
.swiper-banner-box .swiper-banner{position:relative;border-radius:12px}
.module-card{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:normal;-ms-flex-align:normal;align-items:normal}
.module-card .card-thumb{-ms-flex-negative:0;flex-shrink:0;position:relative;width:100px;height:100px;margin-right:20px;border-radius:8px;overflow:hidden}
.module-card .card-thumb img{position:absolute;top:50%;left:50%;width:auto;height:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.module-card .card-contents{-webkit-box-flex:1;-ms-flex:1;flex:1;min-width:0}
.module-card .card-contents .tit{margin-bottom:4px;font-size:17px;letter-spacing:-.09px;font-weight:700;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.module-card .card-contents .desc{min-height:40px;max-height:40px;font-size:14px;line-height:20px;letter-spacing:-.07px;color:#333;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-height:20px;overflow:hidden}
.module-card .card-contents .time{margin-top:16px;font-size:14px;line-height:20px;color:#000;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-card .card-contents .time .ic_time_20{margin-right:4px}
.module-card .card-contents .time .emp{margin-right:2px}
.category-btn-box{padding:0 20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.category-btn-item+.category-btn-item{margin-left:20px}
.store-info-list__item+.store-info-list__item{margin-top:16px}
.store-info-list__item .item-thumb{width:20px;height:20px;margin-right:16px}
.store-info-list__item .item-contents{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.store-info-list__item .item-contents .txt{width:100%;font-size:15px;line-height:21px}
.store-info-list__item .item-contents .txt+.txt{margin-top:2px}
.service-info-list__item+.service-info-list__item{margin-top:40px}
.tabs{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom:1px solid #f0f0f0;background-color:#fff;z-index:2}
.o2o-wrap .tabs{position:sticky;top:56px;height:50px;padding:0 20px}
.o2o-wrap .tabs__item{position:relative;min-width:51px;height:50px;font-size:18px;color:#333}
.o2o-wrap .tabs__item--active{font-weight:700}
.o2o-wrap .tabs__item--active::after{content:"";position:absolute;bottom:0;left:0;right:0;height:2px;background-color:#333545}
.o2o-wrap .tabs__item+.tabs__item{margin-left:20px}
.category-btn{position:relative;padding-top:54px;width:51px;text-align:center}
.category-btn__text{font-size:12px;color:#333}
.category-btn--call{background:url(https://apm-web.amoremall.com/public/resource/mall/svg/ic/ic_phone_s51_3a416f.svg) no-repeat}
.category-btn--reserve{background:url(https://apm-web.amoremall.com/public/resource/mall/svg/ic/ic_calendar_s51_3a416f.svg) no-repeat}
.category-btn--share{background:url(https://apm-web.amoremall.com/public/resource/mall/svg/ic/ic_share_s51_3a416f.svg) no-repeat}
.btn-expand{padding:8px;border:1px solid #e2e2e2;background-color:#fff;border-radius:6px}
.btn-round{min-width:50px;height:46px;padding:0 20px;border:1px solid #e2e2e2;border-radius:23px;font-size:14px;color:#000;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.btn-round .text{overflow:hidden;white-space:nowrap;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal}
.btn-round .text em{margin-right:4px;font-weight:700;font-style:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.btn-round .ic_more_8x20{-ms-flex-negative:0;flex-shrink:0;margin-left:6px}
.heading-box{display:block}
.o2o-contents .heading-box{margin-bottom:20px}
.heading-box .heading{font-size:18px;font-weight:700;color:#000}
.heading-box .heading--h4{font-size:22px}
.blind{position:absolute!important;z-index:-1;width:1px!important;height:1px!important;border:0;clip:rect(1px 1px 1px 1px)!important;-webkit-clip-path:inset(50%);clip-path:inset(50%);overflow:hidden!important}
.module-map{position:relative;height:140px;border:1px solid hsla(0,0%,80%,.5);border-radius:8px;overflow:hidden}
.o2o-contents .module-map{margin-top:20px}
.module-map .btn-expand{position:absolute;top:8px;right:8px;z-index:10}
.module-map__detail{width:100%;height:100%;overflow:hidden}
.atom-icon{display:inline-block;vertical-align:top;font-size:1px;white-space:nowrap;color:transparent;overflow:hidden}
.atom-icon.logo_amoreStore_s165x28_fff{width:165px;height:28px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/logo/logo_amoreStore_s165x28_fff.svg) no-repeat 50%;background-size:contain}
.atom-icon.ic_angle_down_circle_fill_s24{width:24px;height:24px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/core/svg/ic/ic_angle_down_circle_fill_s24.svg) no-repeat 50%;background-size:contain}
.icon{position:relative;display:inline-block;vertical-align:top;font-size:10px;color:transparent;overflow:hidden}
.icon--user{width:32px;height:32px}
.icon--user::before{content:"";display:block;height:100%;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_user_s32_fff.svg);background-size:contain;background-repeat:no-repeat}
.icon.ic_gnb_logo_amore_96{width:32px;height:32px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/png/logo/logo_amoreMall_s96.png);background-size:32px 32px;border-radius:10px}
.icon.ic_gnb_logo_amore_store_64{width:32px;height:32px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/png/logo/logo_amoreStore_s64.jpg);background-size:32px 32px;border-radius:10px}
.icon.ic_store_20{width:20px;height:20px;background-size:20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_pin_s20x21_000.svg)}
.icon.icon_mobile_20{width:20px;height:20px;background-size:20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_phone_s20_000.svg)}
.icon.ic_time_20{width:20px;height:20px;background-size:20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_clock_circle_fill_s20_style01.svg)}
.icon.ic_sns_20{width:20px;height:20px;background-size:20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_home_fill_s20.svg)}
.icon.ic_scale_20{width:20px;height:20px;background-size:20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_scale_fill_s20.svg)}
.icon.ic_more_8x20{width:8px;height:20px;background-size:8px 20px;background-image:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_right_s8x20_666.svg)}
.txt--black{color:#000}
.txt--blue{color:#457cdb}
.txt--red{color:#ef2a23}
.txt--gray{color:#888}
.txt--white{color:#fff}
.emp{font-weight:700}
.swiper-container{position:relative;overflow:hidden;margin:0 auto;padding:0;z-index:1}
.swiper-container:hover .swiper-button-next,.swiper-container:hover .swiper-button-prev{display:block}
.swiper-container:hover .swiper-button-disabled{display:none}
.swiper-container:hover .sliderNav .swiper-button-disabled{display:-webkit-box;display:-ms-flexbox;display:flex}
@media screen and (max-device-width:1023px){
.swiper-container .swiper-button-next,.swiper-container .swiper-button-prev{display:none!important}
}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.swiper-container.styleA .sliderNav{padding:0 20px}
.swiper-container.styleA .sliderNav .sliderPrev{width:42px;height:42px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_left_circle_fill_s42.svg)}
.swiper-container.styleA .sliderNav .sliderPrev:after{content:none}
.swiper-container.styleA .sliderNav .sliderPrev.is-hidden{opacity:0;pointer-events:none}
.swiper-container.styleA .sliderNav .sliderNext{width:42px;height:42px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_right_circle_fill_s42.svg)}
.swiper-container.styleA .sliderNav .sliderNext:after{content:none}
.swiper-container.styleA .sliderNav .sliderNext.is-hidden{opacity:0;pointer-events:none}
.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;transition-property:opacity}
.swiper-container-fade .swiper-slide-active{pointer-events:auto}
.swiper-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;z-index:1;-webkit-box-sizing:content-box;box-sizing:content-box}
.swiper-slide,.swiper-wrapper{position:relative;width:100%;height:100%;transition-property:-webkit-transform;-webkit-transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}
.swiper-slide{-ms-flex-negative:0;flex-shrink:0}
.swiper-backface-hidden .swiper-slide{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.swiper-pointer-events{-ms-touch-action:pan-y;touch-action:pan-y}
.swiper-grid-column>.swiper-wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.swiper-grid-column .swiper-slide{height:auto}
.swiper-pagination-progressbar{position:relative;width:calc(100% - 40px);height:1px;z-index:1;margin:0 20px;background:#e2e2e2}
.swiper-pagination-progressbar-fill{display:block;background:#222;width:100%;height:100%;left:0;top:0;-webkit-transform-origin:left top;transform-origin:left top}
.swiper-pagination-progressbar.colorSecondary{position:absolute;bottom:25px;background:#fff}
.swiper-pagination-progressbar.colorSecondary .swiper-pagination-progressbar-fill{background-color:#222}
.slideArea .swiper-pagination-progressbar{margin-top:10px;height:2px;background-color:#e9ecef}
.apSwiper--slideArea .swiper-pagination-progressbar{position:absolute;bottom:16px;height:2px;background-color:#e9ecef}
.swiper-button-prev{width:35px;height:35px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_flicking_left_s35.svg) no-repeat 50%;background-size:contain}
.swiper-button-next{width:35px;height:35px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_flicking_right_s35.svg) no-repeat 50%;background-size:contain}
.swiper-button-next,.swiper-button-prev{display:none;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:1}
.regQna .swiper-button-next,.regQna .swiper-button-prev{margin-top:25px}
[class*=shopSwiper] .swiper-button-next,[class*=shopSwiper] .swiper-button-prev{width:36px;height:36px;padding:2px;background-color:rgba(0,0,0,.2);-webkit-transform:translateY(-18px);transform:translateY(-18px)}
@media screen and (max-device-width:1023px){
[class*=shopSwiper] .swiper-button-next,[class*=shopSwiper] .swiper-button-prev{display:none!important}
}
@media screen and (max-width:1023px){
.mobile--preview [class*=shopSwiper] .swiper-button-next,.mobile--preview [class*=shopSwiper] .swiper-button-prev{display:none!important}
}
.swiper-button-next{right:0}
.swiper-button-prev{left:0}
.swiper-button-disabled .atom-icon{opacity:.4}
.sliderNav{position:absolute;width:100%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.sliderNav .swiper-button-disabled{opacity:.3}
.apSwiper--bannerDiscountSwiper{position:relative;width:100%;border-radius:12px}
.product-detail .article.o2o-contents:last-of-type{border-bottom:0}
.product-detail .article-btn-box{gap:6px;margin-top:24px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.product-detail .article__reserve .article-btn-box{margin-top:40px}
.apSwiper--news-list{padding:26px 0;background-color:#f0f0f0}
.apSwiper--news-list .swiper-wrapper{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.apSwiper--news-list .swiper-slide{width:100%;max-width:305px;margin-left:16px;padding:20px;background-color:#fff;border-radius:18px}
.apSwiper--news-list .swiper-slide.more{margin:0;width:122px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:transparent;display:-webkit-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center}
.apSwiper--news-list .swiper-slide.more .btn-morelist__icon{position:relative;width:42px;height:42px;margin-bottom:8px;border:1px solid #e2e2e2;border-radius:50%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.apSwiper--news-list .swiper-slide.more .btn-morelist__icon::before{content:"";width:20px;height:20px;background:url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_arrow_right_s20_666.svg) no-repeat center/20px 20px}
.apSwiper--news-list .swiper-slide.more .btn-morelist__text{display:block;margin-top:8px;text-align:center;font-size:13px;color:#000}
.apSwiper--news-list .list_tem__link{color:#666}
.apSwiper--news-list .tit{margin-bottom:10px;font-size:16px;font-weight:700;letter-spacing:-.08px;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.apSwiper--news-list .desc{min-height:36px;max-height:36px;margin-bottom:8px;font-size:14px;letter-spacing:-.07px;color:#333;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:18px}
.apSwiper--news-list .date{font-size:12px;letter-spacing:-.06px;color:#999}
.store-desc{max-height:120px;font-size:15px;color:#333;letter-spacing:-.08px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;line-height:24px;overflow:hidden}
.store-desc>a{display:block;color:inherit}
.module-linkPopup{display:none;width:200px;padding:12px 0;border-radius:8px;background-color:#fff;-webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,.16);box-shadow:0 3px 6px 0 rgba(0,0,0,.16)}
.module-header__logo-link .module-linkPopup{position:absolute;top:40px;right:0;z-index:2}
.module-linkPopup__item{height:48px}
.module-linkPopup__item+.module-linkPopup__item{margin-top:4px}
.module-linkPopup__item-btn{width:100%;height:100%;padding:0 20px;text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.module-linkPopup__item-btn .linkThumb{position:relative;width:32px;height:32px;margin-right:12px;background-color:#ddd;border-radius:10px}
.module-linkPopup__item-btn .linkText{font-size:16px;color:#333}
.module-linkPopup__item--active .linkThumb::before{content:"";display:block;position:absolute;bottom:-3px;right:-3px;z-index:1;width:10px;height:10px;border:1px solid #fff;background-color:#ff5a5a;border-radius:5px}
.module-linkPopup__item--active .linkText{font-weight:700;color:#000}
.dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.4);z-index:10}
.basicDialog{position:fixed;top:0;bottom:0;left:0;right:0;background-color:#fff;z-index:10}
@media (min-width:768px){
.basicDialog{top:50%;bottom:auto;left:50%;right:auto;width:360px;height:576px;border-radius:8px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);overflow:hidden}
}
.basicDialog--columnBox .dialogContent--detail{-webkit-box-flex:1;-ms-flex:1;flex:1;width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.basicDialog--columnBox .apiArea{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:32px 16px 0}
.basicDialog--columnBox .apiArea__content{height:100%}
@media (min-width:768px){
.basicDialog--columnBox .dialogContent--detail{padding:32px 16px}
.basicDialog--columnBox .apiArea{padding:0}
}
.dialogHeadingBox{min-width:0}
.dialogHeader{-ms-flex-negative:0;flex-shrink:0;position:relative;height:52px;padding:0 45px;border-bottom:1px solid #eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.dialogHeader__heading{font-size:20px;font-weight:700;line-height:28px;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
@media (min-width:768px){
.dialogHeader{height:62px;padding-top:10px}
}
@media (min-width:768px){
.dialogHeader .btnHeader .icon--close{-webkit-transform:translate(-50%,calc(-50% + 5px));transform:translate(-50%,calc(-50% + 5px))}
}
.dialogContent{position:relative;margin:0 auto;padding:32px 16px 30px}
@media (min-width:768px){
.dialogContent{min-height:calc(100% - 62px);max-height:calc(100% - 62px);overflow-y:auto}
}
.dialogContent__titleBox{margin-top:8px}
.dialogContent__titleBox--hasSpace{margin-top:48px}
.dialogContent__itemBox>.basicDesc{margin-top:24px;font-size:14px;line-height:22px;color:#888}
.dialogContent .primaryBox--hasSpace{margin-top:80px}
@media (min-width:768px){
.dialogContent .primaryBox--hasSpace{margin-top:32px}
}
.dialogContent--detail{padding:0;min-height:0}
.dialogContent .apiArea{overflow:hidden}
.dialogContent .apiArea__content{overflow-y:auto}
.alertBox{position:fixed;top:50%;left:50%;width:92%;max-width:328px;background:#fff;border-radius:8px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.alertBox__desc{padding:32px 16px 31px;text-align:center;font-size:16px;line-height:24px;color:#000}
.alertBox__btnBox{border-top:1px solid #eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.alertBox__btn{-webkit-box-flex:1;-ms-flex:1;flex:1;position:relative;height:56px;font-size:16px;color:#000}
.alertBox__btn+.alertBox__btn::before{content:"";position:absolute;top:50%;left:0;width:1px;height:16px;background:#eee;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
/*# sourceMappingURL=maps/mall.css.map */
