@use "sass:string";
// ::: Sprite image url :::
$spUrl: "../../img/sprite.png";
$spSize: 250px 500px;

// ::: Color :::
$colors: (
    Black: #000,
    Green: #5c8018,
    Red: #ef2a23,
    Gray: #666,
    White: #fff,
);
$black: #000;
$green: #5c8018;
$red: #ef2a23;
$gray: #666;
$white: #fff;

// ::: Common style variable :::
$headerHeight: 58px;
$paddingSide: 0 16px;

// ::: Media query breakpoint :::
$desktop: 1024px;
$tablet: 768px;
$mobile: $tablet - 1;
