@use "../general/index" as *;

.blind {
    @include blind;
}

.module- {
    &map {
        position: relative;
        height: 140px;
        border: 1px solid hsla(0, 0%, 80%, .5);
        border-radius: 8px;
        overflow: hidden;

        .o2o-contents & {
            margin-top: 20px;
        }

        .btn-expand {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 10;
        }

        // module-map__detail
        &__detail {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

.atom-icon {
    display: inline-block;
    vertical-align: top;
    font-size: 1px;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;

    &.logo_amoreStore_s165x28_fff {
        width: 165px;
        height: 28px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/logo/logo_amoreStore_s165x28_fff.svg) no-repeat 50%;
        background-size: contain;
    }

    &.ic_angle_down_circle_fill_s24 {
        width: 24px;
        height: 24px;
        background: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/core/svg/ic/ic_angle_down_circle_fill_s24.svg) no-repeat 50%;
        background-size: contain;
    }
}

.icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    color: transparent;
    overflow: hidden;

    // icon--user
    &--user {
        width: 32px;
        height: 32px;
        &::before {
            content: "";
            display: block;
            height: 100%;
            background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_user_s32_fff.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &.ic_gnb_logo_amore_96 {
        width: 32px;
        height: 32px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/png/logo/logo_amoreMall_s96.png);
        background-size: 32px 32px;
        border-radius: 10px;
    }

    &.ic_gnb_logo_amore_store_64 {
        width: 32px;
        height: 32px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/png/logo/logo_amoreStore_s64.jpg);
        background-size: 32px 32px;
        border-radius: 10px;
    }

    &.ic_store_20 {
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_pin_s20x21_000.svg);
    }
    
    &.icon_mobile_20 {
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_phone_s20_000.svg);
    }

    &.ic_time_20 {
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_clock_circle_fill_s20_style01.svg);
    }
    
    &.ic_sns_20 {
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_home_fill_s20.svg);
    }

    &.ic_scale_20 {
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_scale_fill_s20.svg);
    }

    &.ic_more_8x20 {
        width: 8px;
        height: 20px;
        background-size: 8px 20px;
        background-image: url(//apm-web.amoremall.com/public/apcp-css/3.0.55/public/resource/mall/svg/ic/ic_angle_right_s8x20_666.svg);
    }
}

.txt {
    // txt--black
    &--black {
        color: $black;
    }

    // txt--blue
    &--blue {
        color: $blue;
    }

    // txt--red
    &--red {
        color: $red;
    }

    // txt--gray
    &--gray {
        color: $gray;
    }

    // txt--white
    &--white {
        color: $white;
    }
}

